<div class="container">

    <div class="row">
        <h1 class="center-align">Find My Things</h1>
        <h5 class="center-align">Just not able to find that Son-Goku figure you so desperately want?</h5>
        <h4 class="center-align">Fill out the form and let's help you!</h4>
        <form method="post" action="/done">
            <div id="slider" class="slider col s8 offset-s2">
                <div class="">
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">search</i>
                                    <input id="titel" type="text" name="titel" class="validate">
                                    <label for="titel">What are you looking for?</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">edit</i>
                                    <input id="description" type="text" name="description" class="validate">
                                    <label for="description">Anything else we need to know?</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">insert_link</i>
                                    <input id="link" type="text" name="link" class="validate">
                                    <label for="link">Want to link us something?</label>
                                </div>
                                <div class="file-field input-field col s12 l6">
                                    <div class="btn">
                                        <span>File</span>
                                        <input type="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a class="waves-effect waves-light btn-large btn-next">Next<i class="material-icons right">chevron_right</i></a>
                    </div>
                </div>

                <div class="">
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">face</i>
                                    <input id="first_name" type="text" name="first_name" class="validate">
                                    <label for="first_name">First Name</label>
                                </div>
                                <div class="input-field col s12 l6">
                                    <input id="last_name" type="text" name="last_name" class="validate">
                                    <label for="last_name">Last Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">home</i>
                                    <input id="address" type="text" name="address" class="validate">
                                    <label for="address">Address</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">email</i>
                                    <input id="email" type="email" name="email" class="validate">
                                    <label for="email">Email</label>
                                </div>

                                <div class="input-field col s12 l6">
                                    <input id="tel" type="tel" name="tel" class="validate">
                                    <label for="tel">Telephone</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 l6 left-align"><a class="waves-effect waves-light btn-large btn-prev">Previous<i class="material-icons left">chevron_left</i></a></div>
                        <div class="col s12 l6 right-align"><button type="submit" value="Submit" class="waves-effect waves-light btn-large btn-submit">Submit</button></div>


                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
