html, body {
    height: 100%;
    background-color: #3498DB;
}

.slick-slide {
    background-color: #fff;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;

}

h1, h4, h5, h6 {
    color: #fff;
}

.slider {
    margin-top: 40px;
}

.btn-large, .btn {
    background-color: #3498DB;
}

.btn-large:hover, .btn:hover {
    background-color: #2980B9;
}

/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=tel]:focus + label {
    color: #2980B9;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=tel]:focus {
    border-bottom: 1px solid #2980B9;
    box-shadow: 0 1px 0 0 #2980B9;
}

.input-field .prefix.active {
    color: #2980B9;
}

.input-field .prefix{
    color: #3498DB;
}
